body {
    margin: 0;
    padding: 0;
    background: url(../imag/bg.jpeg);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

h1{
    color: red;
    padding: 0px;
    margin: 0;
    text-align: center;
}

a {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
}
